.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}

.image {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 85%;
  object-fit: cover;
}

.imageHidden {
  display: none;
}

.arrowLeft, .arrowRight {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 5px #555);
}

.arrowLeft {
  left: 1rem;
}

.arrowRight {
  right: 1rem;
}

.arrowLeft:hover, .arrowRight:hover {
  cursor: pointer;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicatorInactive {
  background-color: gray;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.textCont {
  position: bottom;
  top: 2rem;
  bottom: 0rem;
}

.text {
  color: black;
}

.textHidden {
  display: none;
}


