.popUp{
  position: absolute;
  top: 100%;
  left: 50%;

  transform: translate(-50%);
  margin-top: 8px;
  padding: 12px;
  background-color: white;
  color: #516480;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  white-space: nowrap;
  z-index: 100;
}

.popUpHidden {
  display: none;
}