
.arrow {
  color: #515480;
  display: inline-block;
  font-size: 2em;
  padding-bottom: .5em;
  transition: transform 0.3s ease;
}

.open {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.customTrigger {
  background: linear-gradient(90deg,rgba(94, 58, 126, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  border-bottom: black;
  border-width: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.bookcaseCont {
  background-color:#e6c68c;
  color: #515480;
  width: 100vw;  
}

.fairyDoorCont {
  background-color: #3597aa;
  color: #a8efee;
  width: 100vw;
}

h1, p {
  margin: 0;
}

.imageSliderTitles {
  font-size: 2em;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}

.image {
  width: 100%;
}

.sectionTitles {
  color: #e6c68c;
  text-align: left;
}

.smallProjCont {
  background-color: #a8efee;
  color: #515480;
  width: 100vw;
}

.workTableCont {
  background-color: #515480;
  color: #a8efee;
  width: 100vw;
}

