.bookcaseCont {
  background-color:#e6c68c;
  color: #515480;
  width: 100vw;  
}

.dTNonLinear {
  width: 100vw;
}

.fairyDoorCont {
  background-color: #3597aa;
  color: #a8efee;
  width: 100vw;
}

.lbBackground {
  background-image: url(../../../../images/Backgrounds/LightbulbString.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}


h1, p {
  margin: 0;
}

.imageSliderTitles {
  font-size: 2em;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}

.image {
  width: 100%;
}

.smallProjCont {
  background-color: #a8efee;
  color: #515480;
  width: 100vw;
}

.workTableCont {
  background-color: #515480;
  color: #a8efee;
  width: 100vw;
}

