h1, p {
  margin: 0;
}

.dTCont {
  display: flex;
  flex-direction: column;
}

.dTNonLinear {
  position: absolute;
  top: 20%;
  left: 10%;
  height: 60%;
  width: 80%;
}

.dTPCont {
  position: relative;
}

.dTSection1 {
  position: absolute;
  top: 14%;
  left: 35%;
  font-size: 4em;
}

.dTSection2 {
  background-color: #e6c68c;
  font-size: 3em;
  padding: .5em;
  text-align: center;
}

.dTStickies {
  background-image: url(../../../../images/Backgrounds/DTStickies.jpg);
  background-size: cover;
  background-position: center;
  max-height: 1340px;
  opacity: 60%;
  width: 100vw;
  z-index: -1;
}

.lbBackground {
  background-image: url(../../../../images/Backgrounds/LightbulbString.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}


.imageSliderTitles {
  font-size: 2em;
  font-weight: bold;
  padding: 1em;
  align-items: center;
  text-align: center;
}

.image {
  width: 100%;
}

.imageSliderCont {
  background-color: #a8efee;
  color: black;
  width: 100vw;
}

.imageSliderCont2 {
  background-color:#3597aa;
  color: black;
  width: 100vw;  
}

.pawPrintBg {
  background-image: url(../../../../images/DesignChallenges/PawPrintBg.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.presentationCont {
  font-weight: bold;
  display: flex;
  height: 4em;
  text-align: left;
  align-items: center;
}

