.active {
  color: #e6c68c !important;
  font-weight: bold;
  text-decoration: none;
  float: left;
}

.headerCont {
  width: 65%;
  padding-top: 5px;
  position: inherit;
}

.hamburger {
  padding-top: 12px;
}

.home {
  color: #e6c68c;
  font-style: italic;
  font-family: Baskerville;
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
  text-align: left;
  margin-bottom: 0px;
}

.link {
  color: white;
  font-weight: bold;
  float: left;
  text-decoration: none;
}

.link:hover {
  color: #e6c68c;
}


.navCont {
  display: flex;
  flex-direction: column;
  width: 20%;
  font-size: 14px;
}

.navBar {
  background-color: #515480;
  box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px;
  position: sticky;
  z-index: 2;
}

.tagLine {
  color: #a8efee;
  padding-bottom: 0px;
  margin: 5px 10px 2px 0px;
  font-size: 16px;
  text-align: left;
}

