.aboutSectionContainer {
  background-color: #3597aa;;
  position: relative;
  top: 75px;
  text-align: center;
}

.aboutSection {
  color: #e6c68c;
  font-style: italic;
  font-family: Baskerville;
  font-weight: bold;
  font-size: 32px;
  margin-top: 10px;
}

.aboutParagraph{
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 75px;
  font-weight: bold;
  font-family: Baskerville;
  font-style: italic;
  text-align: center;
  font-size: 18px;
}

.background {
  background-color: #3597aa;
  height: 100%;
}

.profilePic {
  height: 30%;
  width: 30%;
  border-radius: 50%;

}