.aboutSectionContainer {
  background-color: #3597aa;;
  position: relative;
  top: 75px;
  text-align: center;
}

.aboutSection {
  color: #e6c68c;
  font-family: Baskerville;
  font-weight: bold;
  font-size: 32px;
  margin: 1.5em;
}

.aboutParagraph{
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  padding: 3em;
  margin-bottom: 3em;
  font-weight: bold;
  text-align: left;
  font-size: 18px;
}

.background {
  background-color: #3597aa;
  height: 100%;
}

.profilePic {
  height: 30%;
  width: 30%;
  border-radius: 50%;
}

.textArea {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 3em;
  outline: none;
  padding-left: .5em;
  width: 35em;
  height: 20em;
}

.textAreaLabel {
  color: black;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 20px;
  padding-right: 12px;
}