.lbBackground {
  background-image: url(../../../images//Backgrounds/LightbulbString.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
}

.catCont {
  background: linear-gradient(90deg,rgba(94, 58, 126, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  padding-bottom: 60px;
}

.categorybox {
  border: black;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  color: black;
  width: 20em;
  padding: 1.6em;
  margin: .5em;
}

.catheading {
  font-size: 1.5em;
  padding-bottom: .5em ;
}

.dTBackground {
  background-image: url(../../../images//Backgrounds/DTStickies.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100vw;
  height: 100vh;
}

.designT {
  color: #515480;
  font-style: bold;
  text-align: center;
}

.dTNonLinear {
  height: 100vh;
  width: 100vw;
}

.header1 {
  color: #515480;
  font-style: bold;
  text-align: center;
  padding-top: 60px;
}

.header2 {
  text-align: center;
  padding: 40px;
}

.introPara {
  color: #516480;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  padding-bottom: 30px;
  text-align: left;
  text-indent: 2em;
  font-size: 22px;
  z-index: 1;

}

.link {
  text-decoration: none;
  color: #515480;
  font-weight: bold;
  font-size: 36px;
}

.unlist {
  padding-left: 1em;
  font-size: 1.3em;
}




