.lbBackground {
  background-image: url(../../../images//Backgrounds/LightbulbString.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.bodyCont {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.button {
  background-color: #e6c68c;
  border: none;
  margin-top: 10px;
}

.buttonCont {
  margin-top: 10px;
  text-align: center;
  z-index: 1;
}

.dTBackground {
  background-image: url(../../../images//Backgrounds/DTStickies.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.designT {
  color: #515480;
  font-style: bold;
  text-align: center;
}

.dTNonLinear {
  height: 100vh;
}

.header {
  color: #515480;
  font-style: bold;
  text-align: center;
  z-index: 1;
}



.introPara {
  color: #515480;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 30%;
  margin-right: 30%;
  position: relative;
  text-align: left;
  text-indent: 2em;
  font-size: 18px;
  z-index: 1;

}

.link {
  text-decoration: none;
  color: #515480;
  font-weight: bold;
  font-size: 36px;
  padding-top: 20px;
}

p {
  margin-top: 0em;
}

.pageCont {
  position: relative;
}


