.lbBackground {
  background-image: url(../../../images//Backgrounds/LightbulbString.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #692181;
}

.categorybox {
  border: #e6c68c;
  border-style: solid;
  border-radius: 5px;
  color: #a8efee;
  width: 20%;
  height: 20%;
  padding: 10px;
  margin: 20px;
}

.dTBackground {
  background-image: url(../../../images//Backgrounds/DTStickies.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.designT {
  color: #515480;
  font-style: bold;
  text-align: center;
}

.dTNonLinear {
  height: 100vh;
}

.header {
  color: #515480;
  font-style: bold;
  text-align: center;
  padding-top: 70px;
}

.introPara {
  color: #516480;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 30%;
  margin-right: 30%;
  position: relative;
  text-align: left;
  text-indent: 2em;
  font-size: 22px;
  z-index: 1;

}

.link {
  text-decoration: none;
  color: #515480;
  font-weight: bold;
  font-size: 36px;
}




