.background {
  background-image: url(../../../images//Backgrounds/LightbulbString.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  opacity: 30%;
  position: absolute;
}

.bodyCont {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.button {
  background-color: transparent;
  border: 2px solid #a8efee
}

.buttonCont {
  margin-top: 10px;
}

.designT {
  color: #515480;
  font-family: Baskerville;
  font-style: italic;
  text-align: left;
}

.fairyDoorCont {
  background-color: #3597aa;
  color: #a8efee;
  padding: 10px;
}

.fDImgs {

}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 5px;
}

h3 {
  margin-top: 5px;
}

.header {
  color: #515480;
  font-family: Baskerville;
  font-style: italic;
  text-align: center;
}

.introPara {
  font-weight: bold;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  font-size: 18px;
}

.links {
  text-decoration: none;
  color: #515480;
  font-family: Baskerville;
  font-weight: bold;
  font-size: 16px;
}

.pageCont {
  position: relative;
}

.prototyping {
  color: #515480;
  font-family: Baskerville;
  font-style: italic;
  text-align: left;
  padding-bottom: 10px;
}
