.background {
  background-image: url(../../../images//Backgrounds/LightbulbString.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  opacity: 40%;
  position: absolute;
}

.bodyCont {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.bookcaseCont {
  background-color:#e6c68c;  
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.button {
  background-color: #e6c68c;
  border: none;
  margin-top: 10px;
}

.buttonCont {
  margin-top: 10px;
  text-align: center;
}

.designT {
  color: #515480;
  font-style: bold;
  text-align: center;
}

.fairyDoorCont {
  background-color: #3597aa;
  color: #a8efee;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.header {
  color: #515480;
  font-style: bold;
  text-align: center;
}

.imageSliderTitles {
  font-size: 28px;
  font-weight: bold;
  padding-top: 35px;
}

.introPara {
  color: black;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: #515480;
  font-weight: bold;
  font-size: 16px;
}

p {
  margin-top: 0em;
}

.pageCont {
  position: relative;
}

.sectionTitles {
  color: #515480;
  font-style: bold;
  text-align: center;
}

.smallerProj {
  background-color: #a8efee;
}

.workTableCont {
  background-color: #515480;
  color: #a8efee;
}
