.background {
  background-image: url(../../../images//Backgrounds/LightbulbString.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  opacity: 30%;
  position: absolute;
}

.bodyCont {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.bookcaseCont {
  background-color: #e6c68c;  
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.button {
  background-color: #e6c68c;
  border: none;
  margin-top: 10px;
}

.buttonCont {
  margin-top: 10px;
  text-align: center;
}

.designT {
  color: #515480;
  font-family: Baskerville;
  font-style: bold;
  text-align: left;
}

.fairyDoorCont {
  background-color: #3597aa;
  color: #a8efee;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 5px;
  padding: 5px;
  margin-block-start: 0em;
}

h3 {
  margin-top: 5px;
}

.header {
  color: #515480;
  font-style: bold;
  font-family: Baskerville;
  text-align: center;
}

.introPara {
  color:#515480;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  font-size: 18px;
}

.links {
  text-decoration: none;
  color: #515480;
  font-family: Baskerville;
  font-weight: bold;
  font-size: 16px;
}

.pageCont {
  position: relative;
}

.prototyping {
  color: #515480;
  font-style: bold;
  text-align: center;
}
